[build]
target = "index.html"
release = true
dist = "dist"
public_url = "/"

[[hooks]]
stage = "post_build"
command = "sh"
command_arguments = ["-c", "cp assets/sw.js dist/sw.js && cp assets/manifest.json dist/manifest.json"]

[watch]
ignore = ["dist"]

[serve]
addresses = ["127.0.0.1"]
port = 8080
open = false

